mixin header(logoClass, menuClass)
  header.header
    a.logo(href="index.html", class=logoClass)
      .logo__name Луна
      .logo__img
    nav.menu(class=menuClass)
      a.menu__button(href="#menu")
      .menu__wrapper#menu
        ul.menu__content
          li.menu__item
            a(href="index.html").menu__item-link Главная
          li.menu__item
            a(href="courses.html").menu__item-link Программы
          li.menu__item
            a(href="trainers.html").menu__item-link Тренеры
          li.menu__item
            a(href="calendar.html").menu__item-link Расписание
          li.menu__item
            a(href="gallery.html").menu__item-link Галерея
          li.menu__item
            a(href="contacts.html").menu__item-link Контакты
        .menu__content-mobile
          +socials('socials--modal')
          .phone.phone--modal +7 901 111-11-11
          
          
mixin footer(footerClass, phoneClass, socialsClass)
  footer.footer(class=footerClass)
    .phone(class=phoneClass) +7 901 111-11-11
    +socials(socialsClass)


mixin socials(newClass)
  ul.socials(class=newClass)
    li.socials__item
      a.socials__item-link.socials__item-link--vk(href="#")
    li.socials__item
      a.socials__item-link.socials__item-link--instagram(href="#")
    li.socials__item
      a.socials__item-link.socials__item-link--fb(href="#")
      
mixin modal
  .modal#modal
    .tabs
      a.tabs__item.tabs__item--active(href="#", data-entry-form-link) Запись
      a.tabs__item(href="#", data-entry-about-link) О занятии
    .modal__content
      .modal__entry(data-entry-form)
        h2.modal__header Функциональный тренинг
        p.modal__header-comment Для записи на занятие оставьте свои <br>контактные данные
        form.entry-form
          input.input.entry-form__input(type="text", placeholder="Ваше имя" name="name")
          input.input.entry-form__input(type="text", placeholder="Телефон" name="phone")
          button.btn.entry-form__btn.btn--black 
            span.btn__content Отправить
      .modal__about(data-entry-about)
        h2.modal__header Функциональный тренинг
        p.modal__text Средний уровень интенсивности. <br><br>Силовая тренировка с использованием дополнительного оборудования Noodles – гибкой палки, помогающей держаться на воде. <br><br>Результат: аэробная выносливость, координация и гибкость, укрепление глубоких мышц. <br><br>Противопоказания: группа здоровья 3 - 4. <br><br>Тренер-преподаватель по плаванию и аквааэробике. <br>Образование: студент МПГУ. <br>Сертифицированный специалист по аквааэробике и грудничковому плаванию. <br>Сертификация Финского Института Акватики и Школы Аквафитнеса AFS. <br>Спортивный разряд по плаванию.